{%  extends 'main.html' %}
{% block content %}
<br>
<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Clientes:</h5>
		<a class="btn btn-primary" href="{% url 'proyectos:clientes-crear'%}">Crear cliente</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Nombre</th>
					<th>RUC</th>
					<th>Telefono</th>
					<th>Dirección</th>
					<th>Rubro</th>
					<th>Estado</th>
					<th>Acción</th>
					<th></th>
				</tr>

				{% for cliente in clientes %}
					<tr>
						<td>{{cliente.id}}</td>
						<td>{{cliente.nombre}}</td>
						<td>{{cliente.ruc}}</td>
						<td>{{cliente.telefono}}</td>
						<td>{{cliente.direccion}}</td>
						<td>{{cliente.rubro}}</td>
						<td>{{cliente.estado}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:clientes-modificar'  cliente.id%}">Actualizar</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:clientes-borrar'  cliente.id%}">Borrar</a></td>
				</tr>
			{% endfor %}

			</table>
		</div>

	</div>
</div>
<br>

{% endblock %}

