{%  extends 'main.html' %}

{% block content %}
<br>
<style>
	.floating-btnz{
		width: 30px;
		height: 30px;
		background: #007bff;
		display: flex;
		border-radius: 50%;
		color: #ffffff;
		font-size: 20px;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		box-shadow: 4px 4px 4px rgba(0,0,0, 0.25);
		outline: blue;
		border: none;
		cursor: pointer;
	}
</style>
<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Clientes:</h5>
		<a class="btn btn-primary" href="{% url 'proyectos:clientes-crear'%}">Crear cliente</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Nombre</th>
					<th>RUC</th>
					<th>Telefono</th>
					<th>Dirección</th>
					<th>Rubro</th>
					<th>Estado</th>
					<th>Acción</th>
					<th></th>
				</tr>

				{% for cliente in clientes %}
					<tr>
						<td>{{cliente.id}}</td>
						<td>{{cliente.nombre}}</td>
						<td>{{cliente.ruc}}</td>
						<td>{{cliente.telefono}}</td>
						<td>{{cliente.direccion}}</td>
						<td>{{cliente.rubro}}</td>
						<td>{{cliente.estado}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:clientes-modificar'  cliente.id%}">Actualizar</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:clientes-borrar'  cliente.id%}">Borrar</a></td>
				</tr>
			{% endfor %}

			</table>
		</div>

	</div>

	
</div>

<button  class="material-icons floating-btnz" onclick="location.href='{% url 'help:help_detail' 1 %}'">?</button>

<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Filtros:</h5>
			<form method="GET">
				{{filtros.form}}

		    <button class="btn btn-primary" type="submit">Buscar</button>
			
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="pagination">
    {% if clientes.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a class="pagination-action" href="?page={{ clientes.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in clientes.paginator.page_range %}
        {% if clientes.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > clientes.number|add:'-3' and num < clientes.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if clientes.has_next %}
        <a class="pagination-action" href="?page={{ clientes.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ clientes.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>
<br>

{% endblock %}

