
*.pyc
*migrations/0*
*__pycache__*
db.sqlite3
hora.html
apps/administracion/migrations/0001_initial.py
apps/administracion/migrations/0002_gasto.py
apps/administracion/migrations/0003_auto_20210408_2243.py
apps/administracion/migrations/0004_auto_20210408_2352.py
apps/administracion/migrations/0005_auto_20210409_0038.py
apps/administracion/migrations/0007_auto_20210410_1816.py
apps/administracion/migrations/0006_auto_20210409_0040.py
apps/administracion/migrations/0008_auto_20210410_2111.py
apps/administracion/migrations/0009_auto_20210410_2246.py
apps/proyectos/migrations/0001_initial.py
apps/proyectos/migrations/0002_auto_20210410_2111.py
apps/proyectos/migrations/0003_auto_20210410_2246.py
apps/reportes/migrations/0001_initial.py
apps/administracion/migrations/0010_auto_20210411_2305.py
apps/administracion/migrations/0011_auto_20210411_2306.py
apps/administracion/migrations/0012_auto_20210411_2317.py
apps/administracion/migrations/0013_auto_20210411_2318.py
apps/administracion/migrations/0014_auto_20210411_2318.py
apps/administracion/migrations/0015_auto_20210412_0014.py
apps/administracion/migrations/0016_auto_20210412_0248.py
apps/administracion/migrations/0017_auto_20210412_0302.py
apps/administracion/migrations/0018_auto_20210412_2321.py
apps/administracion/migrations/0019_auto_20210412_2323.py
apps/administracion/migrations/0020_auto_20210413_0003.py
apps/administracion/migrations/0021_auto_20210413_0034.py
apps/administracion/migrations/0022_auto_20210413_0035.py
apps/administracion/migrations/0023_auto_20210413_0217.py
apps/administracion/migrations/0024_auto_20210413_0218.py
apps/proyectos/migrations/0004_pruebahash.py
apps/proyectos/migrations/0005_pruebahash_prueba.py
apps/proyectos/migrations/0006_auto_20210412_0014.py
apps/proyectos/migrations/0007_delete_pruebahash.py
apps/proyectos/migrations/0008_registrohora_horas_cargadas.py
apps/proyectos/migrations/0009_auto_20210412_2321.py
apps/proyectos/migrations/0010_auto_20210412_2323.py
apps/proyectos/migrations/0011_remove_registrohora_horas_cargadas.py
apps/proyectos/migrations/0012_registrohora_horas_cargadas.py
apps/proyectos/migrations/0013_auto_20210413_0217.py
apps/proyectos/migrations/0014_auto_20210413_0218.py
apps/administracion/migrations/0002_auto_20210418_0039.py
apps/administracion/migrations/0003_auto_20210418_0040.py
apps/administracion/migrations/0004_auto_20210418_0225.py
apps/administracion/migrations/0005_auto_20210418_0229.py
apps/administracion/migrations/0006_auto_20210418_0229.py
apps/cuentas/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/proyectos/migrations/0002_propuesta.py
apps/proyectos/migrations/0003_propuestadetalle.py
apps/proyectos/migrations/0004_auto_20210418_0229.py
apps/proyectos/migrations/0005_auto_20210418_0229.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/gestion/migrations/0001_initial.py
apps/administracion/migrations/0007_auto_20210419_0106.py
apps/administracion/migrations/0008_auto_20210420_1404.py
apps/administracion/migrations/0009_auto_20210420_1404.py
apps/proyectos/migrations/0006_auto_20210419_0106.py
apps/proyectos/migrations/0007_propuesta_porcentaje_ganancia.py
apps/proyectos/migrations/0008_contrato_propuesta.py
apps/administracion/migrations/0010_auto_20210422_2359.py
apps/administracion/migrations/0002_auto_20210424_2305.py
apps/proyectos/migrations/0002_entregable.py
apps/proyectos/migrations/0003_condicionpago.py
apps/proyectos/migrations/0004_auto_20210425_0201.py
apps/proyectos/migrations/0005_auto_20210429_0057.py
apps/proyectos/migrations/0006_auto_20210503_1419.py
apps/proyectos/migrations/0007_auto_20210503_1616.py
apps/proyectos/migrations/0008_auto_20210504_1435.py
