{%  extends 'main.html' %}
{% block content %}
<br>
<div class="col">
	<div class="card card-body">
        <div class="d-flex justify-content-between">
            <h5><strong>Detalle del contrato {{contrato.nombre}}:</strong></h5>            
            <div class="justify-content-between">
                <a class="btn btn-primary" href="{% url 'proyectos:entregables-listar' contrato.id %}">Ver entregables</a>
                <a class="btn btn-primary" href="{% url 'proyectos:condicionPagos-listar' contrato.id %}">Ver condiciones de pago</a>    
            </div>
        </div>
		<hr>
        <p><strong>Propuesta</strong>: {{contrato.propuesta.nombre}}</p>
        <p><strong>Cliente</strong>: {{contrato.cliente}}</p>
        <p><strong>Nombre</strong>: {{contrato.nombre}}</p>
        <p><strong>Descripcion</strong>: {{contrato.descripcion}}</p>
        <p><strong>Monto</strong>: {{contrato.monto}}</p>
        <p><strong>Horas Presupuestadas</strong>: {{contrato.horas_presupuestadas}}</p>
        <p><strong>Fecha Inicio</strong>: {{contrato.fecha_inicio}}</p>
        <p><strong>Fecha Fin</strong>: {{contrato.fecha_fin}}</p>
        <p><strong>Tipo Servicio</strong>: {{contrato.tipo_servicio}}</p>
        <p><strong>Horas Ejecutadas</strong>: {{contrato.horas_ejecutadas}}</p>
        <p><strong>Gastos</strong>: {{contrato.gastos}}</p>
        <p><strong>Rentabilidad (en Horas)</strong>: {{contrato.rentabilidad_horas}}</p>
        <p><strong>Rentabilidad (en Presupuesto)</strong>: {{contrato.rentabilidad_presupuesto}}</p>
        <p><strong>Estado</strong>: {{contrato.estado}}</p>

 
	</div>
</div>
<br>
<div class="col d-flex justify-content-between">
    <div class="col justify-content-between">
        <a class="btn btn-primary" href="{% url 'proyectos:contratos-modificar' contrato.id %}">Modificar</a>
        <a class="btn btn-secondary" href="{% url 'proyectos:contratos-listar' %}">Volver</a>
    </div>
    <a class="btn btn-danger" href="{% url 'proyectos:contratos-borrar' contrato.id %}">Eliminar</a>    
</div>
{% endblock %}