{%  extends 'main.html' %}
{% block content %}
<br>

<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Contratos:</h5>
		<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:contratos-crear'%}">Añadir contrato</a>	
	</div>
</div>

<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Filtros:</h5>
			<form method="GET">
				{{filtros.form}}

		    <button class="btn btn-primary" type="submit">Buscar</button>
			
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col">
		<h5>Contratos</h5>
		<table class="table table-sm">
			<tr>
				<th>Cliente</th>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Monto</th>
				<th>Horas Presupuestadas</th>
				<th>Fecha Inicio</th>
				<th>Fecha Fin</th>
				<th>Tipo Servicio</th>
				<th>Horas Ejecutadas</th>
				<th>Gastos</th>
				<th>Rentabilidad (en Horas)</th>
				<th>Rentabilidad (en Presupuesto)</th>
				<th>Estado</th>
				<th>Accion</th>

			</tr>
		{% for contrato in contratos %}
			<tr>
				<td>{{contrato.cliente}}</td>
				<td>{{contrato.nombre}}</td>
				<td>{{contrato.descripcion}}</td>
				<td>{{contrato.monto}}</td>
				<td>{{contrato.horas_presupuestadas}}</td>
				<td>{{contrato.fecha_inicio}}</td>
				<td>{{contrato.fecha_fin}}</td>
				<td>{{contrato.tipo_servicio}}</td>
				<td>{{contrato.horas_ejecutadas}}</td>
				<td>{{contrato.gastos}}</td>
				<td>{{contrato.rentabilidad_horas}}</td>
				<td>{{contrato.rentabilidad_presupuesto}}</td>
				<td>{{contrato.estado}}</td>
				<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:contratos-modificar'  contrato.id%}">Actualizar</a></td>
				<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:contratos-borrar'  contrato.id%}">Borrar</a></td>
			</tr>
		{% endfor %}

		</table>
	</div>
</div>

<div class="pagination">
    {% if contratos.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a class="pagination-action" href="?page={{ contratos.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in contratos.paginator.page_range %}
        {% if contratos.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > contratos.number|add:'-3' and num < contratos.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if contratos.has_next %}
        <a class="pagination-action" href="?page={{ contratos.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ contratos.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>

{% endblock %}

