{%  extends 'main.html' %}
{% load static %}
{% block content %}
<br>
    <div class="col col-md-5"></div>    
        <h5>Crear empleado:</h5>
        <p></p>

        <form method="POST" action="{% url "gestion:empleados-crear" %}">
            {% csrf_token %}

            {{form.as_p}}

                <input type="submit" value="Crear">
                <a  href="{% url "gestion:empleados-listar" %}" class="cancellink-box">Cancelar</a>
        </form>
        <script src="{% static '/js/selectorCargoTarifa.js'%}"></script>
{% endblock %}
