{%  extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">

    <div class="col col-md-5">   
        <h5>Crear empleado:</h5>
        <p></p>
        <div class="card card-body">

            <form method="POST" action="{% url "gestion:empleados-crear" %}">
                {% csrf_token %}
    
                {{form.as_p}}
                <div class="col justify-content-between"></div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a class="btn btn-secondary" href="{% url 'gestion:empleados-listar' %}" class="cancellink-box">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static '/js/selectorCargoTarifa.js'%}"></script>
{% endblock %}
