{%  extends 'main.html' %}
{% block content %}
<br>

<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Empleados:</h5>
		<a class="btn btn-primary" id="crear-registro" href="{% url 'gestion:empleados-crear'%}">Registrar empleado</a>	
	</div>
</div>
<hr>

<div class="row">
	<div class="col">
		<div class="card card-body">

			<table class="table table-sm">
					<tr>
						<th></th>
						<th>Usuario</th>
						<th>Email</th>
						<th>Cedula</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Acción</th>
						<th></th>
					</tr>
	
				{% for empleado in empleados %}
					<tr>
						<td>{{empleado.id}}</td>
						<td>{{empleado.usuario.username}}</td>
						<td>{{empleado.usuario.email}}</td>
						<td>{{empleado.cedula}}</td>
						<td>{{empleado.nombre}}</td>
						<td>{{empleado.apellido}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'gestion:empleados-modificar'  empleado.id%}">Actualizar</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'gestion:empleados-borrar'  empleado.id%}">Borrar</a></td>
					</tr>
				{% endfor %}
	
			</table>
		</div>
	</div>

</div>

{% endblock %}

