{%  extends 'main.html' %}
{% block content %}
<br>

<br>

<div class="row">
	<div class="col-md-5">
		<h5>Empleados:</h5>
		<hr>
			
		<a><input type="submit" value="Buscar"><input type="text" size="40" name="q" value="" id="searchbar" autofocus=""></a>
		<a class="btn btn-primary  btn-sm btn-block" href="{% url 'gestion:empleados-crear'%}">Registrar Empleado</a>
		<p></p>
		<table class="table table-sm">
				<tr>
					<th></th>
					<th>Usuario</th>
					<th>Email</th>
					<th>Cedula</th>
					<th>Nombre</th>
					<th>Apellido</th>
				</tr>

			{% for empleado in empleados %}
				<tr>
					<td>{{empleado.id}}</td>
					<td>{{empleado.usuario.username}}</td>
					<td>{{empleado.usuario.email}}</td>
					<td>{{empleado.cedula}}</td>
					<td>{{empleado.nombre}}</td>
					<td>{{empleado.apellido}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'gestion:empleados-modificar'  empleado.id%}">Actualizar</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'gestion:empleados-borrar'  empleado.id%}">Borrar</a></td>
				</tr>
			{% endfor %}

		</table>
	</div>

</div>

<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Filtros:</h5>
			<form method="GET">
				{{filtros.form}}

		    <button class="btn btn-primary" type="submit">Buscar</button>
			
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="pagination">
    {% if empleados.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a class="pagination-action" href="?page={{ empleados.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in empleados.paginator.page_range %}
        {% if empleados.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > empleados.number|add:'-3' and num < empleados.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if empleados.has_next %}
        <a class="pagination-action" href="?page={{ empleados.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ empleados.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>
{% endblock %}

