{%  extends 'main.html' %}
{% block content %}
<br>

<br>

<style>
    .floating-btnz{
        width: 30px;
        height: 30px;
        background: #007bff;
        display: flex;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 4px 4px 4px rgba(0,0,0, 0.25);
        outline: blue;
        border: none;
        cursor: pointer;
    }
</style>

<div class="row">
	<div class="col-md-5">
		<h5>Empleados:</h5>
		<hr>
			
		<a><input type="submit" value="Buscar"><input type="text" size="40" name="q" value="" id="searchbar" autofocus=""></a>
		<a class="btn btn-primary  btn-sm btn-block" href="{% url 'gestion:empleados-crear'%}">Registrar Empleado</a>
		<p></p>
		<table class="table table-sm">
				<tr>
					<th></th>
					<th>Usuario</th>
					<th>Email</th>
					<th>Cedula</th>
					<th>Nombre</th>
					<th>Apellido</th>
				</tr>

			{% for empleado in empleados %}
				<tr>
					<td>{{empleado.id}}</td>
					<td>{{empleado.usuario.username}}</td>
					<td>{{empleado.usuario.email}}</td>
					<td>{{empleado.cedula}}</td>
					<td>{{empleado.nombre}}</td>
					<td>{{empleado.apellido}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'gestion:empleados-modificar'  empleado.id%}">Actualizar</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'gestion:empleados-borrar'  empleado.id%}">Borrar</a></td>
				</tr>
			{% endfor %}

		</table>
	</div>

</div>

<button  class="material-icons floating-btnz" onclick="location.href='{% url 'help:help_detail' 4 %}'">?</button>

{% endblock %}

