{%  extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col col-md-15">
        <div class="card card-body">

            <h5>Agregar posibles gastos:</h5>
            <p></p>
                <form method="POST" >
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{form}}
                    <hr>
                    {% endfor %}
                    
                    <input type="submit" value="Crear">
                    <a  href="{% url 'proyectos:propuestas-detalle' propuesta.id %}" class="cancellink-box">Cancelar</a>
                </form>
        </div>
            

    </div>
</div>        
{% endblock %}
