{%  extends 'main.html' %}
{% block content %}
<br>

<br>
<div class="row">
	<div class="col-md-6">
		<h5>Borrar propuesta</h5>
		<p></p>
		<div class="card card-body">


			<p>¿Está seguro de borrar la propuesta "{{propuesta}}"?</p>

			<form action="{% url 'proyectos:propuestas-borrar' propuesta.id  %}" method="POST">
				
				{% csrf_token %}
				<input class="btn btn-danger" type="submit" name="Aceptar">
				<a class="btn btn-warning" href="{% url 'proyectos:propuestas-listar' %}">Cancelar</a>

				
			</form>
		</div>
	</div>
</div>

{% endblock %}