{%  extends 'main.html' %}
{% block content %}
<br>
<div class="row">
    <div class="col col-md-5">
        <h5>Crear propuesta:</h5>
        <p></p>
        <div class="card card-body">
            <form method="POST" action="{% url "proyectos:propuestas-crear" %}">
                {% csrf_token %}
    
                {{form.as_p}}
            </form>
        </div>
        <br>
		<div class="col justify-content-between"></div>
            <button type="submit" class="btn btn-primary">Crear</button>
			<a class="btn btn-secondary" href="{% url 'proyectos:propuestas-listar' 'P' %}" class="cancellink-box">Cancelar</a>
		</div>

    </div>
</div>
        

{% endblock %}
