{%  extends 'main.html' %}
{% block content %}
<br>

<style>
    .floating-btnz{
        width: 30px;
        height: 30px;
        background: #007bff;
        display: flex;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 4px 4px 4px rgba(0,0,0, 0.25);
        outline: blue;
        border: none;
        cursor: pointer;
    }
</style>

<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Propuestas:</h5>
		<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:propuestas-crear' %}">Añadir propuesta</a>	
		{% if estado == 'P' %}
			<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:propuestas-listar' 'A' %}">Ver propuestas aceptadas</a>	
			<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:propuestas-listar' 'R' %}">Ver propuestas rechazadas</a>	
		{% elif estado == 'A' %}
			<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:propuestas-listar' 'P' %}">Ver propuestas pendientes</a>	
			<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:propuestas-listar' 'R' %}">Ver propuestas rechazadas</a>
		{% else %}
			<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:propuestas-listar' 'P' %}">Ver propuestas pendientes</a>	
			<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:propuestas-listar' 'A' %}">Ver propuestas aceptadas</a>	
		{% endif %}
	</div>
</div>

<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Filtros:</h5>
			<form method="GET">
				{{filtros.form}}

		    <button class="btn btn-primary" type="submit">Buscar</button>
			
		  </form>

		</div>
	</div>
	
</div>
<br>

<hr>
<div class="row">
	<div class="col-md-5">

			<table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Área</th>
                        <th>Gerente</th>
                        <th>Nombre</th>
						<th>Horas totales</th>
						<th>Total</th>
						<th>Ganancia esperada</th>
						<th>Estado</th>
						<th>Fecha de aceptacion</th>
						<th>Accion</th>
						<th></th>
                    </tr>

				{% for propuesta in propuestas %}
					<tr>
						<td>{{propuesta.id}}</td>
                        <td>{{propuesta.area}}</td>
                        <td>{{propuesta.gerente}}</td>
						<td>{{propuesta.nombre}}</td>
						<td>{{propuesta.horas_totales}}</td>
                        <td>{{propuesta.total}}</td>
                        <td>{{propuesta.ganancia_esperada}}</td>
						<td>{{propuesta.estado}}</td>
						<td>{{propuesta.fecha_aceptacion}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:propuestas-detalle' propuesta.id%}">Detalle</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:propuestas-borrar'  propuesta.id%}">Borrar</a></td>
					</tr>
				{% endfor %}

			</table>
	</div>
</div>


<div class="pagination">
    {% if propuestas.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a class="pagination-action" href="?page={{ propuestas.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in propuestas.paginator.page_range %}
        {% if propuestas.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > propuestas.number|add:'-3' and num < propuestas.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if propuestas.has_next %}
        <a class="pagination-action" href="?page={{ propuestas.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ propuestas.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>

<br>

<br>

<button  class="material-icons floating-btnz" onclick="location.href='{% url 'help:help_detail' 6 %}'">?</button>

{% endblock %}
