{%  extends 'main.html' %}
{% block content %}

<br>
<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Servicio:</h5>
		<a class="btn btn-primary" id="crear-registro" href="{% url 'gestion:servicios-crear'%}">Crear servicio</a>	
	</div>
</div>
<hr>
<div class="row">
	<div class="col col-md-6">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Detalle</th>
					<th>Descripcion</th>
					<th>Area</th>
					<th>Accion</th>
					<th></th>
				</tr>

				{% for servicio in servicios %}
					<tr>
						<td>{{servicio.id}}</td>
						<td>{{servicio.detalle}}</td>
						<td>{{servicio.descripcion}}</td>
						<td>{{servicio.area.nombre}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'gestion:servicios-modificar'  servicio.id%}">Actualizar</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'gestion:servicios-borrar'  servicio.id%}">Borrar</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>

	</div>
</div>
{% endblock %}

