{%  extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col col-md-10">
        <div class="card card-body">

            <h5>Crear condiciones de pago:</h5>
            <hr>
            <form method="POST" %}">
                {% csrf_token %}
    
                {{form.as_p}}
                <div class="col justify-content-between"></div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a  href="{% url 'proyectos:contratos-detalle' contrato.id %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="{% static '/js/selectorMonto.js'%}"></script>
{% endblock %}
