{%  extends 'main.html' %}
{% block content %}
<br>

<div class="row">
	<div class="col d-flex justify-content-between">
		
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Condiciones de pago del contrato "{{contrato.nombre}}":</h5>
			<p></p>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Forma de pago</th>
					<th>Monto total</th>
					<th>Cantidad de pagos</th>
					<th>Días de vencimiento</th>
					<th>Accion</th>
				</tr>

				{% for condicion in condiciones %}
					<tr>
						<th></th>
						<td>{{condicion.forma_pago}}</td>
						<td>{{condicion.monto_total}}</td>
						<td>{{condicion.cantidad_pagos}}</td>
						<td>{{condicion.dias_vencimiento}}</td>
						<td><a class="btn btn-primary" href="{% url 'administracion:facturaciones-listar_planes' %}">Ver plan de facturacion</a></td>
					</tr>
				{% endfor %}
			</table>
			<h5>Planes de facturación</h5>
			<table class="table table-sm">
				<tr>
					<th>Descripcion</th>
					<th>Fecha de emisión</th>
					<th>Fecha de vencimiento</th>
					<th>Monto a Facturar</th>
					<th>Estado</th>
					<th>Accion</th>
				
				{% for plan in planes_facturacion %}
				</tr>
					<td>{{plan.descripcion}}</td>
					<td>{{plan.fecha_emision}}</td>
					<td>{{plan.fecha_vencimiento}}</td>
					<td>{{plan.monto_facturar}}</td>
					<td>{{plan.estado}}</td>
					{% if plan.estado == 'PENDIENTE FACTURACION' %}
						<td><a class="btn btn-primary" href="{% url 'administracion:facturaciones-emitir_factura' plan.id %}">Emitir factura</a></td>
					{% else %}
					<td><a class="btn btn-primary" href="{% url 'administracion:facturaciones-detalle' plan.id %}">Ver factura</a></td>
					{% endif %}
				<tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<br>
<div class="col justify-content-between">
	<a class="btn btn-primary" href="#">Modificar</a>
	<a class="btn btn-secondary" href="{% url 'proyectos:contratos-detalle' contrato.id %}">Volver</a>
</div>

{% endblock %}

