{%  extends 'main.html' %}
{% block content %}
<br>

<div class="row">
	<div class="col d-flex justify-content-between">
		
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Condiciones de pago del contrato "{{contrato.nombre}}":</h5>
			<p></p>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Forma de pago</th>
					<th>Monto total</th>
					<th>Cantidad de pagos</th>
					<th>Días de vencimiento</th>
					<th>Acción</th>
				</tr>

				{% for condicion in condiciones %}
					<tr>
						<th></th>
						<td>{{condicion.forma_pago}}</td>
						<td>{{condicion.monto_total}}</td>
						<td>{{condicion.cantidad_pagos}}</td>
						<td>{{condicion.dias_vencimiento}}</td>
						<td><a class="btn btn-primary" href="{% url 'administracion:facturaciones-listar_planes' contrato.id %}">Ver plan de facturacion</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<br>
<div class="col justify-content-between">
	{% if not condiciones %}
		<a href="{% url 'proyectos:condicionPagos-crear' contrato.id %}" class="btn btn-primary">Crear</a>
	{% endif %}
	<a class="btn btn-secondary" href="{% url 'proyectos:contratos-detalle' contrato.id %}">Volver</a>
</div>

{% endblock %}

