{% extends 'main.html' %}
{% load static %}


{% block content %}

<style>
    .floating-btnz{
        width: 30px;
        height: 30px;
        background: #007bff;
        display: flex;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 4px 4px 4px rgba(0,0,0, 0.25);
        outline: blue;
        border: none;
        cursor: pointer;
    }
</style>
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-bar"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Rango de fechas:</label>
                        {{ form.date_range }}
                    </div>
                </div>
            </div>
            <hr>
            <table class="table table-bordered" id="data">
                <thead>
                <tr>
                    <th scope="col">Contrato </th>
                    <th scope="col">Descripcion </th>
                    <th scope="col">Monto de Contrato </th>
                    <th scope="col">Monto Ejecutado </th>
                    <th scope="col">Horas Presupuestadas </th>
                    <th scope="col">Horas Ejecutadas </th>
                    <th scope="col">Fecha de Inicio </th>
                    <th scope="col">Fecha de Fin </th>
                    <th scope="col">Rentabilidad de las horas </th>
                    <th scope="col">Rentabilidad del Presupuesto </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fas fa-sync"></i> Actualizar 
            </a>
            <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-images"></i> Ver Gráfico
            </a>
        </div>
    </div>
    <br>
    <br>

    <button  class="material-icons floating-btnz" onclick="location.href='{% url 'help:help_detail' 14 %}'">?</button>

{% endblock %}


{% block javascript %}
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

{% endblock %}