{%  extends 'main.html' %}
{% block content %}
<br>

<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Pagos:</h5>
		<a class="btn btn-primary " href="{% url 'administracion:pagos-crear'%}" type="submit">Añadir pago</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Filtros:</h5>
			
			<form method="GET">
				{{filtros.form}}

		    <button class="btn btn-primary" type="submit">Buscar</button>
			</form>

			<p></p>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Detalle</th>
					<th>Descripcion</th>
					<th>Monto</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th>Accion</th>
				</tr>

			{% for pago in pagos %}
				<tr>
					<td>{{pago.id}}</td>
					<td>{{pago.detalle}}</td>
					<td>{{pago.descripcion}}</td>
					<td>{{pago.monto}}</td>
					<td>{{pago.fecha}}</td>
					<td>{{pago.estado}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'administracion:pagos-modificar'  pago.id%}">Actualizar</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'administracion:pagos-borrar'  pago.id%}">Borrar</a></td>
				</tr>
			{% endfor %}

			</table>

		</div>
	</div>
</div>

{% endblock %}

