{%  extends 'main.html' %}
{% block content %}
<br>

<style>
    .floating-btnz{
        width: 30px;
        height: 30px;
        background: #007bff;
        display: flex;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 4px 4px 4px rgba(0,0,0, 0.25);
        outline: blue;
        border: none;
        cursor: pointer;
    }
</style>

<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Pagos:</h5>
		<a class="btn btn-primary " href="{% url 'administracion:pagos-crear'%}" type="submit">Añadir pago</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Filtros:</h5>
			
			<form method="GET">
				{{filtros.form}}

		    <button class="btn btn-primary" type="submit">Buscar</button>
			</form>

			<p></p>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Detalle</th>
					<th>Descripcion</th>
					<th>Monto</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th>Accion</th>
				</tr>

			{% for pago in pagos %}
				<tr>
					<td>{{pago.id}}</td>
					<td>{{pago.detalle}}</td>
					<td>{{pago.descripcion}}</td>
					<td>{{pago.monto}}</td>
					<td>{{pago.fecha}}</td>
					<td>{{pago.estado}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'administracion:pagos-modificar'  pago.id%}">Actualizar</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'administracion:pagos-borrar'  pago.id%}">Borrar</a></td>
				</tr>
			{% endfor %}

			</table>

		</div>
	</div>
</div>
<br>

<button  class="material-icons floating-btnz" onclick="location.href='{% url 'help:help_detail' 12 %}'">?</button>

{% endblock %}

