{%  extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">

    <div class="col col-md-10">
        <div class="card card-body">

            <h5>Crear entregables:</h5>
            <hr>
            <p>
                <label for="contrato">Contrato:</label>
                <input type="text" id="id_contrato" value="{{contrato}}" disabled>
            </p>
            <hr>
            <form method="POST" %}">
                {% csrf_token %}
    
                {{ formset.management_form }}
                {% for form in formset %}
                    {{form}}
                <hr>
                {% endfor %}
                <br>
                <div class="col justify-content-between">

                    <button type="submit" class="btn btn-primary" id="id_submit">Crear</button>
                    <a class="btn btn-secondary" href="{% url 'proyectos:contratos-detalle' contrato.id %}" class="cancellink-box">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static '/js/validarHorasContrato.js'%}"></script>
{% endblock %}
