{%  extends 'main.html' %}
{% block content %}

<br>
<div class="col">
	<div class="card card-body">
		<h5><strong>Detalle:</strong></h5>
		<hr>
        <p><strong>Contrato</strong>: {% if entregable.contrato is None %} - {% else %} {{entregable.contrato}} {% endif %}</p>
        <p><strong>Actividades</strong>: {% if entregable.actividades is None %} - {% else %} {{entregable.actividades}} {% endif %}</p>
        <p><strong>Horas asignadas</strong>: {% if entregable.horas_asignadas is None %} - {% else %} {{entregable.horas_asignadas}} {% endif %}</p>
        <p><strong>Fecha inicio</strong>: {% if entregable.fecha_inicio is None %} - {% else %} {{entregable.fecha_inicio}} {% endif %}</p>
        <p><strong>Fecha fin</strong>: {% if entregable.fecha_fin is None %} - {% else %} {{entregable.fecha_fin}} {% endif %}</p>            
	</div>
</div>
<br>

<div class="col d-flex justify-content-between">
    <div class="col justify-content-between">
        <a class="btn btn-primary" href="{% url 'proyectos:entregables-modificar' entregable.id %}">Actualizar</a>
        <a class="btn btn-secondary" href="{% url 'proyectos:entregables-listar' entregable.contrato.id %}">Cancelar</a>
    </div>
    <a class="btn btn-danger" href="{% url 'proyectos:entregables-borrar' entregable.id %}">Eliminar</a>
</div>


{% endblock %}


