<!-- Start Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Menu</div>
  <div class="list-group list-group-flush">
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'gestion:areas-listar'%}">Areas</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'proyectos:clientes-listar'%}">Clientes</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'proyectos:contratos-listar'%}">Contratos</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'gestion:empleados-listar'%}">Empleados</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'proyectos:squads-listar'%}">Squads</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'administracion:gastos-listar'%}">Gastos</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'administracion:facturaciones-listar'%}">Facturaciones</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'administracion:pagos-listar'%}">Pagos</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'proyectos:propuestas-listar' 'P' %}">Propuestas</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'gestion:grupos-listar'%}">Grupos</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'proyectos:registrohoras-listar'%}">Registro de Horas</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'gestion:roles-listar'%}">Roles</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'reportes:seguimientos-listar'%}">Seguimientos</a></p>
    <p><a class="list-group-item list-group-item-action bg-light" href="{% url 'gestion:servicios-listar'%}">Servicios</a></p>
  
  </div>
</div>
<!-- End Sidebar -->
