<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar"><!---dark bg-dark-->
    <header>Menú</header>
  <ul>
    <li><a class="btn btn-sm btn-info" href="{% url 'gestion:areas-listar'%}">Areas</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'proyectos:clientes-listar'%}">Clientes</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'proyectos:contratos-listar'%}">Contratos</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'gestion:empleados-listar'%}">Empleados</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'proyectos:squads-listar'%}">Squads</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'administracion:facturaciones-listar'%}">Facturaciones</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'administracion:pagos-listar'%}">Pagos</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'gestion:grupos-listar'%}">Grupos</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'proyectos:registrohoras-listar'%}">Registro Horas</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'reportes:seguimientos-listar'%}">Seguimientos</a></li>
    <li><a class="btn btn-sm btn-info" href="{% url 'gestion:servicios-listar'%}">Servicios</a></li>
    
</ul>
</div>
<section></section>
  </body>
</html>