{%  extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col">
        <h5>Registrar horas</h5>
        <hr>
        <div class="card card-body">

            <form method="POST" action="{% url "proyectos:registrohoras-crear" %}">
                {% csrf_token %}
    
                {{form.as_p}}
                <div class="col justify-content-between"></div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a class="btn btn-secondary" href="{% url 'proyectos:registrohoras-listar'%}">Cancelar</a>
                </div>
            </form>
        </div>
        <br>
        
    </div>
</div>
<script src="{% static '/js/validateTime.js'%}"></script>
{% endblock %}
