{%  extends 'main.html' %}
{% block content %}

<br>

<style>
    .floating-btnz{
        width: 30px;
        height: 30px;
        background: #007bff;
        display: flex;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 4px 4px 4px rgba(0,0,0, 0.25);
        outline: blue;
        border: none;
        cursor: pointer;
    }
</style>

<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Registro de horas:</h5>
		<a class="btn btn-primary" id="crear-registro" href="{% url 'proyectos:registrohoras-crear'%}">Registrar Horas</a>	
	</div>
</div>

<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Filtros:</h5>
			<form method="GET">
				{{filtros.form}}

		    <button class="btn btn-primary" type="submit">Buscar</button>

			</form>
			<p></p>
			<h5>Horas cargadas:</h5>	
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Empleado</th>
					<th>Contrato</th>
					<th>Nombre</th>
					<th>Detalle</th>
					<th>Fecha</th>
					<th>Horas trabajadas</th>
					<th>Acción</th>
				</tr>

				{% for registro in registros %}
				<tr>
					<td>{{registro.id}}</td>
					<td>{{registro.empleado.usuario.username}}</td>
					<td>{{registro.contrato.nombre}}</td>
					<td>{{registro.nombre}}</td>
					<td>{{registro.detalle}}</td>
					<td>{{registro.fecha}}</td>
					<td>{{registro.horas_trabajadas}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:registrohoras-modificar'  registro.id%}">Actualizar</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:registrohoras-borrar'  registro.id%}">Borrar</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
<br>
<div class="pagination">
    {% if registros.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a class="pagination-action" href="?page={{ registros.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in registros.paginator.page_range %}
        {% if registros.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > registros.number|add:'-3' and num < registros.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if registros.has_next %}
        <a class="pagination-action" href="?page={{ registros.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ registros.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>

<br>
<br>

<button  class="material-icons floating-btnz" onclick="location.href='{% url 'help:help_detail' 9 %}'">?</button>

{% endblock %}

