{%  extends 'main.html' %}
{% block head_content %}
<title>{{ request.user.username }} | Configurar datos del empleado</title>
{% endblock %}

{% block content %}

<br>


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				{{ form.management_form }}
				{% for field in form %}
					{{field}}
					<hr>
				{% endfor %}
				
				<input type="submit" name="Actualizar">
				<a  href="{% url "cuentas:inicio" %}" class="cancellink-box">Cancelar</a>
			</form>

		</div>
	</div>
</div>

{% endblock %}