<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="horas-trabajadas">
					<div class="card-header">
						<h5 class="card-title">Total de horas trabajadas</h5>
					</div>
					<div class="card-body">
					<h3 class="card-title">{{total_horas_mensuales}}</h3>
					</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="proyectos-asignados">
					<div class="card-header">
						<h5 class="card-title">Proyectos asignados:</h5>
					</div>
					<div class="card-body">
					<h3 class="card-title">{{proyectos_asignados}}</h3>
					</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="horas-totales">
					<div class="card-header">
						<h5 class="card-title">Total de tareas realizadas:</h5>
					</div>
					<div class="card-body">
					<h3 class="card-title">{{total_tareas_mensuales}}</h3>
					</div>
			</div>
		</div>
	</div>
</div>
