{%  extends 'main.html' %}
{% block content %}
<br>
<div class="row">
	
	<div class="col-md-10">
		<div class="card card-body">
			<h5>Añadir empleados al equipo</h5>
			<p></p>
			<form action="" method="POST">
				{% csrf_token %}
				{{ formset.management_form }}
				{% for form in formset %}
					{{form}}
					<hr>
				{% endfor %}
				
				<input type="submit" name="Añadir al equipo">
				<a  href="{% url "proyectos:squads-listar" %}" class="cancellink-box">Cancelar</a>
				
			</form>

		</div>
	</div>
</div>

{% endblock %}
