{%  extends 'main.html' %}
{% block content %}
<br>
<style>
    .floating-btnz{
        width: 30px;
        height: 30px;
        background: #007bff;
        display: flex;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: 4px 4px 4px rgba(0,0,0, 0.25);
        outline: blue;
        border: none;
        cursor: pointer;
    }
</style>


<br>

<div class="row">
	<div class="col-md-5">
		<h5>Equipos:</h5>
		<hr>
			
			<a><input type="submit" value="Buscar"><input type="text" size="40" name="q" value="" id="searchbar" autofocus=""></a>
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'proyectos:squads-crear'%}">Crear equipo</a>
			<p></p>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Contrato</th>
					<th>Líder Proyecto</th>
                    <th>Acción</th>
				</tr>

				{% for equipo in equipos %}
					<tr>
						<td>{{equipo.id}}</td>
						<td>{{equipo.nombre}}</td>
                        <td>{{equipo.descripcion}}</td>
                        <td>{{equipo.contrato.nombre}}</td>
                        <td>{{equipo.lider_proyecto.nombre}} {{equipo.lider_proyecto.apellido}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:squads-modificar'  equipo.id%}">Actualizar</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:squads-borrar-equipo'  equipo.id%}">Borrar</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:squads-integrantes'  equipo.id%}">Ver integrantes</a></td>						
					</tr>
				{% endfor %}

			</table>
	</div>
</div>

<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Filtros:</h5>
			<form method="GET">
				{{filtros.form}}

		    <button class="btn btn-primary" type="submit">Buscar</button>
			
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="pagination">
    {% if equipos.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        <a class="pagination-action" href="?page={{ equipos.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in equipos.paginator.page_range %}
        {% if equipos.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > equipos.number|add:'-3' and num < equipos.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if equipos.has_next %}
        <a class="pagination-action" href="?page={{ equipos.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ equipos.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>

<br>
<br>

<button  class="material-icons floating-btnz" onclick="location.href='{% url 'help:help_detail' 8 %}'">?</button>

{% endblock %}

