{%  extends 'main.html' %}
{% block content %}
<br>
<div class="row">
	<div class="col d-flex justify-content-between">
		<h5>Integrantes:</h5>
		<a class="btn btn-primary" href="{% url 'proyectos:squads-add' pk%}">Agregar integrante</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Proyecto</th>
					<th>Nombre</th>
					<th>Rol</th>
					<th>Tarifa Asignada</th>
					<th>Acción</th>
				</tr>

				{% for integrante in integrantes %}
					<tr>
						<td>{{integrante.id}}</td>
						<td>{{integrante.equipo_proyecto.nombre}}</td>
						<td>{{integrante.empleado.nombre}} {{integrante.empleado.apellido}}</td>
                        <td>{{integrante.rol}}</td>
                        <td>{{integrante.tarifa_asignada}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'proyectos:squads-borrar-integrante'  integrante.id%}">Quitar del proyecto</a></td>
					</tr>
				{% endfor %}
				
			</table>
		</div>
		<br>
		<a class="btn btn-secondary" href="{% url "proyectos:squads-listar" %}" >Volver</a>

	</div>
</div>

{% endblock %}

